<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Главная</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="shortcut icon" href="./svg/icon.svg" type="image/x-icon">

</head>
<body>
<header>
    <p class="logoname" onclick="home()">Курсовая</p>
    <div class="header_buttons">
        <button class="login" onclick="sentToReg()">Регистрация</button>
        <button class="sign" onclick="sentTologin()">Войти</button>
    </div>
</header>

<section class="main">
    <p>Приветствуем вас на главной странице управления!</p>
    <button  onclick="sentTologin()">Войти</button>
</section>

<footer>
    <p>&copy;Федоров Назар.</p>
</footer>
</body>
<script src="/js/Auth.js"></script>
<script src="/js/other.js"></script>
</html>