<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="shortcut icon" href="./svg/icon.svg" type="image/x-icon">

</head>
<body>
<header>
    <p class="logoname" onclick="home()">Курсовая</p>
    <div class="header_buttons">
        <button class="login" onclick="sentToReg()">Регистрация</button>
        <button class="sign" onclick="sentTologin()">Войти</button>
    </div>
</header>

<section class="signin signup">
    <form id="signup" name="signup" action="/registration" method="post">
        <h2>Регистрация</h2>

        <label for="reg_username">Логин:</label>
        <input type="text" id="reg_username" name="login" placeholder="Ваш логин..." required>

        <label for="reg_password">Пароль:</label>
        <input type="password" id="reg_password" name="password" placeholder="Ваш пароль.." required>
        <label for="role">Роль:</label>
        <select id="role" name="role">
            <option value="Admin">
                Admin
            </option>
            <option value="Moderator">
                Moderator
            </option>
            <option value="User">
                User
            </option>
        </select>

        <p class="regtxt" onclick="sentTologin()">Войти в аккаунт</p>

        <input type="submit" value="Зарегистрироваться">
    </form>
</section>

<footer>
    <p>&copy;Федоров Назар.</p>
</footer>
<script src="/js/Auth.js"></script>
</body>
</html>
